body {
    display: flex;
  }

#map {
    height: 100vh;
    width: 75%;
  }

#commune-list {
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    font-family: sans-serif;

  }
.commune-item:hover {
    background-color: #eee;
  }

#commune-search {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}