html, body {
  width:100%;
  margin: 0;
}

header {
  position:relative;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width:100%;
  height:60px;
  background: green;
  color: #fff;
}

#app-logo{
  width: 50px;

}

#app-title{
  font-size: 30pt;
  color: #fff;
}

#profile-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

#profile-menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 60px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
}

#profile-not-connected {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  height: calc(100vh - 60px);
  margin-top: 60px; /* hauteur du header */
  overflow: hidden;
}

#map-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#map {
  flex: 1;
}


#info-commune {
  position: absolute;
  align-self: center;
  width: 700px;
  display:fixed;
  justify-content: space-between;
  bottom: -700px;
  margin: auto;
  background: white;
  border-top: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
}

#info-commune.visible {
  bottom:0
}


#info-commune_header{
  font-size: 30px;
  padding: 10px;
  display: flex;
}

#info-commune_visited{
  border-radius: 50%;
    accent-color: var(--color-visited);
}


#info-commune_close {
  border-radius: 50%;
  margin-left: auto;
  background-color: #fff;
}

#info-commune_detaillé {
  display: flex;
  flex-direction: column;
}


#mycommune-list-panel {
  width: 300px;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}
#mycommune-list {
    overflow-y: scroll;
    font-family: sans-serif;
  }

#mycommune-search {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#allcommune-list-panel{
  position: fixed;
  height: 100%;
  width: 300px;
  right: -300px;
  transition: right 0.3s ease;
  background-color: #fff;
  z-index: 1100;
  overflow-y: auto;
}

#allcommune-list-panel.open{
  right: 0;
}

#allcommune-list {
    overflow-y: scroll;
    font-family: sans-serif;
  }

.departement-header {
  background-color: #eee;
  padding: 6px;
}

.departement-stats{
  border:solid 1px;
  padding:2px 4px;
  border-color: grey;
  border-radius: 5%;
  font-size: small;

}

.toggle-btn {
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

.commune-item {	
  list-style-type: none;
}
.commune-item:hover {
  background-color: #eee;
}
